* {
    box-sizing: border-box;
  }
  
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #2a2a2a;
    background-size: cover;
    color: #8a8a8a;
    font-size: 18px;
}
.about{
    text-align: center;
    position: relative;
    top: 9rem;
  }

.logo{
  position: relative;
  top: 6.5rem;
  left: -6rem;
  display: inline-block;
}

  #portfoliobtn{
    position: relative;
    top: 2rem;
    left: 60rem;
    background-color: #387dac;
    color: #ffffff;
    padding: 12px;
    font-size: medium;
    border-radius: 8px;
 }


  #portfoliobtn:hover{
    background-color: #20577c;
    cursor: pointer;
  }

#portfoliohead{
  text-align: center;
  margin-top: 3rem;
}

#portfoliosection{
  text-align: center;
  margin: 3rem;
}

  #portfoliosection .project {
    display: flex;
    margin-bottom: 30px;
    padding: 2rem;
}

#portfoliosection .project img {
    max-width: 100%;
    margin-right: 20px;
    height: 15rem;
    width: 40rem;
    position: relative;
    top: 2rem;
}

 #portfoliosection .project-info{
  width: 50rem;
  padding: 8px;
} 

#skillsection{
  position: relative;
  top: 2rem;
  background-color: #1d1c1c;
  height: 10rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1.5px;
}

.skills {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.skill {
  padding: 10px;
  color: #e6e0e0;
  border: 1px solid #465050; 
  border-radius: 5px;
  background-color: #212222; 
}

.skill:hover{
  background-color: #2b3131;
  cursor: pointer;
}

#contactbtn {
  background-color: #387dac;
  color: #ffffff;
  padding: 15px 17px;
  font-size: 19px; 
  border: none;
  border-radius: 8px;
  position: relative;
  top: 3rem;
}

#contactbtn:hover {
  background-color: #20577c; 
  cursor: pointer;
}

.contact-form {
  height: 25rem;
  max-width: 400px;
  padding: 20px;
  background-color: #3a3939;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  left: 30rem;
  top: 6rem;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #3b3a3a;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitbtn{
  background-color: #387dac;
  color: #ffffff;
  padding: 13px 15px;
  font-size: 19px; 
  border: none;
  border-radius: 8px;
}

.submitbtn:hover{
  background-color: #20577c; 
  cursor: pointer;
}

#skillsbtn{
  background-color: #387dac;
  color: #ffffff;
  padding: 15px 17px;
  font-size: 19px; 
  border: none;
  border-radius: 8px;
  position: relative;
  top: 3rem;
}

#skillsbtn:hover {
  background-color: #20577c; 
  cursor: pointer;
}
.buttons{
  position: relative;
  left: 26rem;
  margin: 0 25px; 
  padding: 10px 20px;
}

#btns{
  height: 10rem;
}

.skills_section{
  width: 100%;
  height: 100vh;
  padding: 0px 13%;
  background-color: rgba(0, 0, 0, 0.082);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills_head{
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  place-items: center;
  text-align: center;
}
.skills_head h2{
  font-size: 30px;
  margin-bottom: -5px;
}
.skills_head h2 span{
  color: #e74d06;
}
.skills_main{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
  font-weight: 500;
}
.skill_bar .bar{
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}
.skill_bar .bar span{
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #e74d06;
  border-radius: 25px;
}
.skill_bar .bar .html{
  width: 90%;
  animation: html 2s;
}
@keyframes html {
  0%{
      width: 0%;
  }100%{
      width: 90%;
  }
}
.skill_bar .bar .xml{
  width: 85%;
  animation: xml 2s;
}
@keyframes xml {
  0%{
      width: 0%;
  }100%{
      width: 85%;
  }
}
.skill_bar .bar .css{
  width: 80%;
  animation: css 2s;
}
@keyframes css {
  0%{
      width: 0%;
  }100%{
      width: 80%;
  }
}
.skill_bar .bar .sass{
  width: 80%;
  animation: sass 2s;
}
@keyframes sass {
  0%{
      width: 0%;
  }100%{
      width: 80%;
  }
}
.skill_bar .bar .js{
  width: 75%;
  animation: js 2s;
}
@keyframes js {
  0%{
      width: 0%;
  }100%{
      width: 75%;
  }
}
.skill_bar .bar .react{
  width: 70%;
  animation: react 2s;
}
@keyframes react {
  0%{
      width: 0%;
  }100%{
      width: 70%;
  }
}
.skill_bar .bar .github{
  width: 65%;
  animation: github 2s;
}
@keyframes github {
  0%{
      width: 0%;
  }100%{
      width: 65%;
  }
}
.skill_bar .bar .agile{
  width: 60%;
  animation: agile 2s;
}
@keyframes agile {
  0%{
      width: 0%;
  }100%{
      width: 60%;
  }
}
